header {
  flex: 0 0 auto;
  background-color: $header-background;
}

nav {
  display: flex;
  padding: 2vh;

  .title {
    justify-content: flex-end;

    p {
      padding-bottom: 0;
    }
  }

  .links {
    margin-left: auto;
  }
}
