*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  font-family: 'Hasklig';
  background-color: $background;
  color: $foreground;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

.red {
  color: $red;
}

.pink {
  color: $pink;
}

.purple {
  color: $purple;
}

.green {
  color: $green;
}

.cyan {
  color: $cyan;
}

.bold {
  font-weight: bold;
}

.main {
  flex: 1 0 auto;

  padding: 2vh;
  max-width: 120ch;
  overflow-wrap: break-word;
}

.arrow {
  padding-right: 0.5vh;
}