*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;

  font-family: "Hasklig";
  font-size: 1.4em;
  line-height: 1.6;
  font-weight: 400;

  background-color: $background;
  color: $foreground;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $cyan;
  font-weight: bold;
  text-decoration: none;
}

p {
  margin: 0;
  padding-bottom: 1vh;

  // @media (min-width: 320px) {
  //   font-size: 13px;
  // }

  // @media (min-width: 360px) {
  //   font-size: 16px;
  // }
}

.red {
  color: $red;
}

.pink {
  color: $pink;
}

.purple {
  color: $purple;
}

.green {
  color: $green;
}

.cyan {
  color: $cyan;
}

.bold {
  font-weight: bold;
}

.main {
  flex: 1 0 auto;

  padding: 2vh;
  max-width: 120ch;
  overflow-wrap: break-word;
}

.arrow {
  padding-right: 1ch;
}
