<header>
  <nav>
    <div class="title">
      <p>
        <a class="bold green" href="{{ .Site.BaseURL }}">{{ with .Site.Params.username }}{{ . }}{{ end }}</a>
        <span>in</span>
        <a class="cyan" href="{{ .Site.BaseURL }}">~</a>
      </p>
    </div>
    {{ $.Scratch.Set "path" "" }}
    {{ range $element := split .RelPermalink "/" }}
      {{ if ne $element "" }}
        {{ $.Scratch.Add "path" "/" }}
        {{ $.Scratch.Add "path" $element }}
          <div class="title">&nbsp;/&nbsp;</div>
          <div class="title">
            <a class="cyan" href="{{ $.Scratch.Get "path" }}">{{ . }}</a>
          </div>
        {{ end }}
      {{ end }}
      <div class="links">
        {{ if (isset .Site.Params "github") }}
        <a href="{{ .Site.Params.github }}" target="_blank" rel="noopener" alt="Github">
          <i class="fab fa-lg fa-github"></i>
        </a>
        {{ end }}
        {{ if (isset .Site.Params "instagram") }}
        <a href="{{ .Site.Params.instagram }}" target="_blank" rel="noopener" alt="Instagram">
          <i class="fab fa-lg fa-instagram"></i>
        </a>
        {{ end }}
        {{ if (isset .Site.Params "chess") }}
        <a href="{{ .Site.Params.chess }}" target="_blank" rel="noopener" alt="Chess">
          <i class="fa fa-lg fa-chess"></i>
        </a>
        {{ end }}
      </div>
  </nav>
</header>
