<header>
  <nav>
    <div class="title">
      <p>
        <span class="bold green">{{ with .Site.Params.username }}{{ . }}{{ end }}</span><span>&nbsp;in&nbsp;</span>
        <a class="cyan" href="{{ .Site.BaseURL }}">~</a>
      </p>
    </div>
    {{ $.Scratch.Set "path" "" }}
    {{ range $element := split .RelPermalink "/" }}
      {{ if ne $element "" }}
        {{ $.Scratch.Add "path" "/" }}
        {{ $.Scratch.Add "path" $element }}
          <div class="title">&nbsp;/&nbsp;</div>
          <div class="title">
            <a class="cyan" href="{{ $.Scratch.Get "path" }}">{{ . }}</a>
          </div>
        {{ end }}
      {{ end }}
      <div class="links">
        <a href="{{ .Site.Params.github }}" target="_blank" rel="noopener" alt="Github">
          <i class="fab fa-lg fa-github"></i>
        </a>
      </div>
  </nav>
</header>